.next-episode {
    display: block;
    border: none;
    border-radius: 2px;
    padding: 10px 15px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.73) !important;
    text-decoration: none !important;
    box-sizing: border-box;
    position: fixed;
    z-index: 3;
    bottom: 70px;
    background: rgba(0, 0, 0, 0.71);
    cursor: pointer;
    right: 40px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
    will-change: opacity;
}

.next-episode.show {
    opacity: 0.3;
    pointer-events: auto;
}


.next-episode.show:hover, .next-episode.show:focus {
    opacity: 1;
}
