<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<!-- <link rel="stylesheet" href="../node_modules/vuetify/dist/vuetify.css"> -->
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<section id="app">

		<template v-if="$store.getters['player/currentEpisode']">

			<div style="display: flex">
				<episode-list></episode-list>
				<translation-list v-if="translations && translations.length"></translation-list>
			</div>

			<player></player>
			<player-controls></player-controls>
			<user-list-controls></user-list-controls>
		</template>
	</section>

	<script type="module" src="/helpers/anime-365-api.js"></script>
	<script type="module" src="/helpers/shikimori-api.js"></script>
	<script type="module" src="main.js"></script>
</body>

</html>